<%- include("./includes/header.ejs") %>
<div style="
    padding: 80px 20px;
    margin: 0 auto;
    font-family: Arial;
    text-align: center;">
    <h3 style="font-size: 18px;">Hallo Guys</h3>
    <p style="line-height: 24px; font-size: 16px">Kami telah menerima pendaftaran akunmu di Mathematics Learning
        Website. <br /> Segera
        konfirmasi akunmu di sini ya</p>
    <a href="<%=  content %>" style="
        background-color: blue;
        padding: 15px 30px;
        border-radius: 30pc;
        display: inline-block;
        text-decoration: none;
        border: 0;
        text-align: center;
        font-size: 16px;
        color: white;
        " class="button_link">
        Konfirmasi Email
    </a>
</div>
<%- include("./includes/footer.ejs") %>