<div style="
    background-color: blue; 
    padding: 30px 0; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white; 
    text-align: center; 
    font-size: 16px;">
    MLW @Copyright 2023</div>