<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis/css2?family=Poppins&display=swap" rel="stylesheet">

<div style="background-color: white; padding:  30px 0; text-align: center; width: 30vw; ">
    <img src="https://res.cloudinary.com/dkmcpy5fw/image/upload/v1654046608/sample.jpg" alt="apa">
</div>